Flask==2.2.5
Flask-Cors==4.0.1
Flask-MySQLdb==1.0.1
mysqlclient==2.2.4
numpy==1.26.4
scikit-learn==1.3.2
tensorflow==2.16.1
tflite-support==0.4.4
absl-py
astunparse
cachetools
certifi
charset-normalizer
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
Keras
libclang
Markdown
MarkupSafe
ml-dtypes
oauthlib
opt-einsum
packaging
protobuf
pyasn1
pyasn1-modules
requests
requests-oauthlib
rsa
six
tensorboard
tensorboard-data-server
termcolor
typing-extensions
urllib3
Werkzeug
wrapt